<div class="row">
  <!-- First Container -->
  <div id="quiwn" class="col-md-6 text-center">
    <h3 class="margin">¿Quién Soy?</h3>
    <a href="https://github.com/Vaninaquezada/tp1salajuegos" target="_blank"
      >en GitHub <i class="fa fa-github"></i
    ></a>
    <p>Vanina Quezada</p>

    <img
      src="{{ datos.avatar_url }}"
      class="img-responsive img-circle margin"
      style="display: inline"
      alt="Bird"
      width="350"
      height="350"
    />
    <h3>
      Soy Un alumno de la UTN FRA, Vanina Quezada. Me encantan los gatos y hacer
      piezas deformes de ceramica en mi tiempo libre.
    </h3>
  </div>

  <!-- Second Container -->
  <div id="que" class="col-md-6 text-center"></div>
</div>
