<div class="body">
  <div class="background-one">
    <div class="link-container">
      <a class="link-one" routerLink="/preguntados">Preguntados</a>
    </div>
  </div>
  <div class="background-two link-container">
    <a class="link-two" routerLink="/ahorcado">Ahorcado</a>
  </div>
  <div class="background-three link-container">
    <a class="link-three" routerLink="/mayormenor">Mayor o menor</a>
  </div>
  <div class="background-fourth link-container">
    <a class="link-fourth" routerLink="/mijuego">Rompecabeza</a>
  </div>
</div>
